.card-body{
    width: 80%;
    height: 458px;
    background: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: 0 7px 15px 2px white inset;
}

.popup-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

.second-pop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

.inner-card{
    width: 80%;
    height: 352px;
   background-image: url(../inner_screen.jpg);
   background-size: cover;
    box-shadow: 0 0 30px black inset;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 20px;
}


  

.card-content{
    margin: auto;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.left-btn{
    margin: 22px;
}

.right-btn{
    margin: 15px;
}

